@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}


.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    display: flex;
    align-items: center;
}