@charset "UTF-8";

body {
    background-color: black;
}

.base {
    background-color: white;
    height: 96vh;
    box-sizing: border-box;
    padding: 10px;
    text-align: justify;

    display: flex;
    align-items: center;
}

p {
    margin: 10px;
}